* { 
    margin: 0;
    padding: 0;
}

/*Navigation Bar Style*/
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333333;
}
li{
    float: left;
}
#mail{
    float: right;
}
li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px;
    text-align: center;
}
li a:hover{
    background-color: #04AA6D;
}
li a:active{
    background-color: aqua;
}
/* End of navigation bar */

/* Responsive design */
.menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 52%;
    padding: 0 0 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }