* { 
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 100vh;
}

/*Navigation Bar Style*/
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333333;
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px;
    text-align: center;
}
li a:hover{
    background-color: #04AA6D;
}
li a:active{
    background-color: aqua;
}
/* End of navigation bar */

.Title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.Highlight{
    color: #04AA6D;
}

p{
    font-family: tahoma;
    font-size: 120%;
    color: black;
}
pre{
    font-family: tahoma;
    font-size: 120%;
    color: black;
}
form{
    margin: 10px;
}